/.env
/.env.*
/.DS_Store
/.vscode/
node_modules/
**/node_modules/
package-lock.json
yarn.lock
dist/
build/
coverage/
uploads/
*.log
*.sqlite
*.pyc
*.pyo
*.pyd
__pycache__/
.idea/
.history/
.aws-sam/
.serverless/
.envrc
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/dist/
backend/uploads/
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*